@use './common//mixins.scss' as *;
.q-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 80px;
  padding: 0 16px;
  border: 2px solid #e3e3f1;
  background-color: #fff;
  box-sizing: border-box;
  line-height: 1;
  color: #4e5158;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  span {
    line-height: 1;
    display: inline-flex;
    align-items: center;
  }
  &.is-round {
    border-radius: 100px;
  }
  &.is-text {
    background-color: transparent;  // 透明背景
    border-color: transparent;      // 透明边框
  }
  &.is-link {
    &, &:hover {
        padding: 0;
        height: auto;
        min-width: auto;
        background-color: transparent;
        border-color: transparent;
        text-decoration: underline;
    }
  }
  &.is-border {
    &, &:hover {
        background-color: transparent;
    }
  }
  &.is-dashed {
    border-style: dashed;
  }
  &.is-block {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  &.is-circle {
    border-radius: 100px;
    padding: 0;
    min-width: auto;
  }
  &.q-button--size_small {
    height: 24px;
    min-width: auto;
    padding: 0 12px;
    font-size: 12px;
    &.is-circle {
      width: 24px;
    }
  }
  &.q-button--size_default  {

    &.is-circle {
      width: 24px;
    }
  }
  &.q-button--size_large {
    height: 40px;
    padding: 0 24px;
    &.is-circle {
      width: 40px;
    }
  }
  &.is-button-group {
    border-radius: 0;
    + .is-button-group {
      margin-left: -2px;
    }
    &:first-child {
      border-radius: 12px 0 0 12px;
    }
    &:last-child {
      border-radius: 0 12px 12px 0;
    }
  }
}

// 默认
.q-button--default {
  border-color: #e3e3f1;
  background-color: #fff;
  color: #4e5158;
  &:hover {
    border-color: #6e96ff;
    background-color: #f5f5f8;
  }
  &.is-disabled {
    cursor: not-allowed;
    &, &:hover, &:focus {
        background-color: #f5f5f8;
        border-color: #e3e3f1;
    }
  }
  &.is-text {
    color: #6e96ff;
    &:hover {
      background-color: #f5f5f8;
      border-color: #e3e3f1;
    }
  }
  &.is-link {
    color: #4e5158;
    &:hover {
      color: #6e96ff;
    }
  }
  &.is-border {
    color: #3069ff;
  }
}

.q-button--primary {
  $var: getVarName('color', 'primary');
  border-color: var(#{$var});
  background-color: var(#{$var});
  color: #fff;
  &:hover {
    border-color: #93b0ff;
    background-color: #93b0ff;
  }
  &.is-disabled {
    cursor: not-allowed;
    &, &:hover, &:focus {
        background-color: #b3c4ff;
        border-color: #93b0ff;
    }
  }
  &.is-text {
    color: #6e96ff;
    &:hover {
      background-color: #b3c4ff;
      border-color: #93b0ff;
    }
  }
  &.is-link {
    color: #6e96ff;
    &:hover {
      color: #93b0ff;
    }
  }
  &.is-border {
    color: #3069ff;
  }
}

// 成功
.q-button--success {
  $var: getVarName('color', 'success');
  border-color: var(#{$var});
  background-color: var(#{$var});
  color: #fff;
  &:hover {
    border-color: #5adc9b;
    background-color: #5adc9b;
  }
  &.is-disabled {
    cursor: not-allowed;
    &, &:hover, &:focus {
        background-color: #89e6b7;
        border-color: #89e6b7;
    }
  }
  &.is-text {
    color: #14cd70;
    &:hover {
      background-color: #89e6b7;
      border-color: #89e6b7;
    }
  }
  &.is-link {
    color: #14cd70;
    &:hover {
      color: #89e6b7;
    }
  }
  &.is-border {
    color: #00b159;
  }
}

// 警告
.q-button--warning {
  $var: getVarName('color', 'warning');
  border-color: var(#{$var});
  background-color: var(#{$var});
  color: #fff;
  &:hover {
    border-color: #ffc55e;
    background-color: #ffc55e;
  }
  &.is-disabled {
    cursor: not-allowed;
    &, &:hover, &:focus {
        background-color: #ffd89a;
        border-color: #ffd89a;
    }
  }
  &.is-text {
    color: #ffa81a;
    &:hover {
      background-color: #ffd89a;
      border-color: #ffd89a;
    }
  }
  &.is-link {
    color: #ffa81a;
    &:hover {
      color: #ffd89a;
    }
  }  
  &.is-border {
    color: #d88700;
  }
}

// 错误
.q-button--error {
  $var: getVarName('color', 'error');
  border-color: var(#{$var});
  background-color: var(#{$var});
  color: #fff;
  &:hover {
    border-color: #ff7b7b;
    background-color: #ff7b7b;
  }
  &.is-disabled {
    cursor: not-allowed;
    &, &:hover, &:focus {
        background-color: #ffb3b3;
        border-color: #ffb3b3;
    }
  }
  &.is-text {
    color: #ff3d3d;
    &:hover {
      background-color: #ffb3b3;
      border-color: #ffb3b3;
    }
  }
  &.is-link {
    color: #ff3d3d;
    &:hover {
      color: #ffb3b3;
    }
  }
  &.is-border {
    color: #d80000;
  }
}