@use "./common/mixins.scss" as *;
@use "./common/componentVar.scss" as *;

@include b(input) {
  @include set-component-var("input", inputVar());
  display: inline-flex;
  align-items: center;
  width: 100%;
  &:hover {
    #{getVarName('input', 'border-color')}: var(
      #{getVarName("border-color", "hover")}
    );
  }
  @include s((disabled)) {
    #{getVarName('input', 'border-color')}: var(
      #{getVarName("border-color", "disabled")}
    );
    #{getVarName('input', 'bg-color')}: var(
      #{getVarName("color", "disabled-bg")}
    );
    #{getVarName('input', 'text-color')}: var(
      #{getVarName("text-color", "placeholder")}
    );
  }
  @include e(wrapper) {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    height: var(#{getVarName("input", "size")});
    width: 100%;
    border: 2px solid var(#{getVarName("input", "border-color")});
    border-radius: var(#{getVarName("input", "round")});
    background-color: var(#{getVarName("input", "bg-color")});
    box-sizing: border-box;
    transform: 0.3s;
    line-height: var(#{getVarName("input", "size")});
  }
  @include e(inner) {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
    color: var(#{getVarName('input', 'text-color')});
    font-size: var(#{getVarName('input', 'font-size')});
  }
}
input{
    &::placeholder { color: var(#{getVarName('text-color', 'placeholder')}); }                /* Chrome, Firefox, Opera, Safari 10.1+ */
    &::-webkit-input-placeholder { color: var(#{getVarName('text-color', 'placeholder')}); }  /* WebKit browsers，webkit内核浏览器 */
    &:-moz-placeholder { color: var(#{getVarName('text-color', 'placeholder')}); }            /* Mozilla Firefox 4 to 18 */ 
    &::-moz-placeholder { color: var(#{getVarName('text-color', 'placeholder')}); }           /* Mozilla Firefox 19+ */ 
    &:-ms-input-placeholder { color: var(#{getVarName('text-color', 'placeholder')}); }       /* Internet Explorer 10-11 */
    &::-ms-input-placeholder { color: var(#{getVarName('text-color', 'placeholder')}); }      /* Microsoft Edge */
  }