pre[class*=language-] { background-color: #FFF; }

.vp-doc [class*='language-'] code { padding: 0; }

.token {
  &.attr-name,
  &.deleted,
  &.namespace,
  &.tag {
    color: #7493e5
  }
  &.attr-value, 
  &.char, 
  &.regex, 
  &.string, 
  &.variable {
    color: #3cc17e
  }

  &.atrule, 
  &.builtin, 
  &.important, 
  &.keyword, 
  &.selector {
    color: #dd6c77
  }

  &.boolean, 
  &.function, 
  &.number {
    color: #dda03e
  }




  &.punctuation {
    color: #abb1bf;
  }
}