$namespace: 'q' !default;    // 命名空间
$connect: '-' !default;                 // 块、子级
$element-connect: '__' !default;        // 元素
$modifier-connect: '--' !default;       // 修改器
$modifier-value-connect: '_' !default;  // 修改器的值
$state-prefix: 'is-' !default;          // 状态前缀，如禁用、圆角、加载等

