$namespace: 'q' !default;    // 命名空间
$content: '-' !default;      // 块，子级
$element-content: '__'!default;  // 元素
$modifier-content: '--'!default; // 修饰符
$modifier-value-content: '_'!default; // 修饰符值
$state-prefix: 'is-'!default; // 状态前缀

